@font-face {
  font-family: bank-printer;
  src: url(F25_Bank_Printer.woff);
}

.header {
  font-family: bank-printer;
  width: 100%;
  min-height: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
